

input {
    background-color: rgb(221, 255, 246);
    margin: 5px 5px 5px 5px;
    
}
div{
    margin: 300px 500px 500px 500px;
    background-color: #b3e7ff;
    border: 3px solid #87c9ec; 
    display: block;
    width: 30;
    height: 150px;
}
header{
    margin: 5px 15px 5px 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    filter: drop-shadow(0 0 4px rgb(118, 155, 235));
    font-size: 20px;
    background-color: aqua;
}

button{
    background-color: chartreuse;
    border-width: 2px 2px 2px 2px;
}
h2{
    text-align: center;
}
img{
    text-align: center;
}