

body{
    background:linear-gradient(to right,#b5ffd2, #fff);
}
h3{
    font-size: 30px;
    background: linear-gradient(to right,#ffbdf9, #fff)
}
button{
    background-color: #ffbdf9;
    border-color: aqua;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background: linear-gradient(to right,  #fff, #8ffcbc);
}
