body {
    background: linear-gradient(to right, #e7f7d6, #2d2f31); 
    }
    .jjj {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
.p {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #c6f3cd, #d3d6cf); 
    width: 500px;
    height: 300px;
    margin: 100px 200px 200px 450px;
    font-style: oblique;
    color: black;
}


input{
    background-color:cornsilk;
    margin: 5px 5px 5px 5px;
    color: grey;
}
